[user]
	name = Zane.XY
	email = zane.xy@live.com
[core]
	autocrlf = input
	excludesfile = ~/.gitignore_global
[push]
	default = simple

[alias]
        lol = log --graph --decorate --pretty=oneline --abbrev-commit
        lola = log --graph --decorate --pretty=oneline --abbrev-commit --all
[color]
        branch = auto
        diff = auto
        interactive = auto
        status = auto


