#ignore all https://github.com/git/git/blob/master/Documentation/gitignore.txt
/*
#except
!.gitignore
!.gitignore_global
!.vimrc
!.hirc

#It is not possible to re-include a file if a parent directory of that file is excluded.

#vim configs
!/.vim
/.vim/*
!/.vim/snippets
#!/.vim/snippets/*

#sbt configs
!/.sbt
/.sbt/*
!/.sbt/0.13
/.sbt/0.13/*
!/.sbt/0.13/build.sbt
!/.sbt/0.13/plugins


