snippet cs "cheat sheet" b
## Cheat Sheet
usage         | example
------------- | -------------
              | 
endsnippet 

snippet t "table" b
First Header  | Second Header
------------- | -------------
Content Cell  | Content Cell
Content Cell  | Content Cell
endsnippet 


