snippet scalatest "add scalatest dependency" !b
libraryDependencies += "org.scalatest" %% "scalatest" % "2.0" % "test"
endsnippet

snippet lib "library dependencies" !b
libraryDependencies ++= Seq($1)
endsnippet
