snippet ist "import scalatest" !b
import org.scalatest._
import Matchers._
endsnippet

snippet tag "Description" !b
import org.scalatest.Tag
object Hot extends Tag("hot")
object Codl extends Tag("cold")
endsnippet

snippet toS "override toString" !b
override def toString = 
endsnippet

snippet iec "ExecutionContext Implicits" !b
import scala.concurrent.ExecutionContext.Implicits.global
endsnippet
